
{% extends "index.html" %}

{% block script %}
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
{% block content%}

    <svg width="50%" viewbox="0 0 280 280">
        {% for i in px_size %}
            {% for j in px_size %}
                <rect class="pixel" x={{ j * 10 }} y={{ i * 10 }} width="10" height="10"/>
            {% endfor %}
        {% endfor %}
    </svg>
    <div>
        <button id="clear_btn">Clear</button>
        <button id="classify_btn">Classify</button>
    </div>
{% endblock %}