.pixel {
    fill: white;
    stroke-width: 0.5;
    stroke: gray;
}

.clicked {
    fill: black;
}

#status {
    color: red;
    text-transform: uppercase;
}

#answer {
    color: blue;
    font-size: 20px;
}